.py-base {
    padding-block: var(--py-base);
}

.py-md {
    padding-block: var(--py-md);
}

.py-xl {
    padding-block: var(--py-xl);
}

.container {
    --max-width: 360px;
    
    /* max-width: var(--max-width);
    width: calc(100% - var(--px-lg) * 2); */
    
    width: min(var(--max-width), calc(100% - var(--px-lg) * 2)); 
    margin-inline: auto;
    border: solid violet;
}

.desktop-only {
    display: none;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

/* Desktop */
@media (width >= 80rem) {
    .container {
        --max-width: 80rem;
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

}